#wrap{
    overflow: hidden;
}

.inner{
    max-width:1920px; 
    /* min-width: 1200px;  */ /**반응형에서는 더이상 작아지면 안된다고 하는 것을 조심해야함. 반응형은 계속 작아져야함.**/
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box; /*box-sizing 안 주면 실질적으로 padding 때문에 width가  커짐*/
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

button{
    border: none;
}

b{
    font-weight: normal;
    display: block;
}

h1{
    font-size: 3.9rem;
    font-weight: 700;
    line-height: 5rem;
}

h2{
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 5rem;}


#sub_header{}
#section{}
#footer{}

/*********************header****************************/
#sub_header{
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 110px;
    /* padding-top: 55px; */
    transition: 1.5s;
    background-color: #ffffff;
}
#sub_header.on{
    background-color: #ffffff;
    color: #222222;
   height: 200px;
    transition: 0.5s;
}
#sub_header.on::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c7c7c7;
    display: block;
    position: absolute;
    top: 127px;
}
#sub_header .logo{
    padding-top: 35px;
}
#sub_header .logo a{
    width: 100%;
}
#sub_header .language{
    margin-right: 46px;
    width: 48px;
    padding-top: 55px;
}
#sub_header .language .btn_lang{
    height: 26px;
    color: #222222;
    align-items: center;
    /* transition: 1.5s; */
    cursor: pointer;
}
#sub_header .language .btn_lang.on{
    color: #000000;
    /* transition: 0.5s; */
}
#sub_header .language #content{
    background-color: #ffffff;
    width: 48px;
    height: 117px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin-top: 20px;
    display: none;
    cursor: pointer;
}
#sub_header .language #content p{
    padding: 8px 0;
}


#sub_header .header_icon{
    padding-top: 55px;
}
#sub_header .header_icon img{
    height: 36px;
}
/*********************nav****************************/
#sub_header .flex{
    justify-content: space-between;
}
#sub_header .sub_gnb{
    padding-top: 55px;
}
#sub_header .sub_gnb > li{
    width: 115px;
    text-align: center;
    margin: 0 30px;
    position: relative;
}
#sub_header .sub_gnb > li > a{
    display: block;
    /* line-height: 100px; */
    font-size: 1rem;
    position: relative;
    font-weight: 700;
    color: #222222;
    height: 66px;
    /* transition: 1.5s; */
}
#sub_header .sub_gnb > li > a.on{
    color: #000000;
    /* transition: 0.5s; */
}
#sub_header .sub_gnb >li >a:hover{
    color:#006940;
}
#sub_header .sub_gnb > li > a::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #006940;
    position: absolute;
    top: 70px;
    left: 0;
    transform: scaleX(0);
    transition: 0.5s;
}
#sub_header .sub_gnb > li > a:hover::after{
    transform: scaleX(1);
} /*추가적인  디자인 하고 싶을 때 이런 구조로 하기.*/
#sub_header .sub_gnb .depth2{
    position: absolute; /*top left bottom right 안 주면 그자리 그대로*/
    width: 100%; /*부모에 맞춰서 100%. 부모에게 position: relative 주기*/
    height: 0;
    overflow: hidden; /*height가 0이기때문에 숨겨짐*/
    /* margin: 25px 0; */
}
/*#sub_header .gnb li:hover depth2{hegith:200px; transition: 0.5s;}를 주면 각각의 li를 선택했을 때 그 li의 ul들만 나옴.*/
#sub_header .sub_gnb:hover .depth2{
    height: 200px; 
    transition: 0.5s;
    padding: 20px 0;
}
#sub_header .sub_gnb .depth2 a{
    display: block;
    padding: 10.5px 0;
    text-align: center;
    font-size: 1rem; /*원하는 크기 나누기 기존 크기*/
    font-weight: 400;
    color: #222222;
    box-sizing: border-box;
}
#sub_header .sub_gnb .depth2 a:hover{
    font-weight: 700;
    color: #006940;
}
#sub_header .sub_gnb::before{
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 128px;
    transition: 0.8s;
} /* nav 펼쳐진는 부분 */
#sub_header .sub_gnb:hover::before{
    height: 372px;
    transition: 0.5s;
    padding: 15px 0;
}

/***********************header.scroll********************/
#sub_header.scroll{
    background-color: #ffffff; 
    height: 128px;transition: top 0.5s;
    z-index: 10;
    position: fixed;
}
#sub_header.scroll .gnb > li > a {
    color: #222222;
}
#sub_header.scroll .language .btn_lang{
    color: #222222;
}

/************************m_nav*****************************/	
#popup_nav{
    position: fixed; 
    width: 100%;
    height: 100%; 
    z-index: 99; 
    right:-100%
    }
    .LeftWrap{
        width:100%; 
        height:100%; 
        background:#ffffff;
        position:absolute; 
        top:0; 
        right:0; 
        z-index:100;
    }
	.LeftWrap div {
        margin: 128px 0 0 30px;
    }
    .LeftWrap div::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #222222;
        position: absolute;
        top: 128px;
        right: 0;
    }
    .LeftWrap #wrap_head #btn1 > li{
        font-size: 2rem;
        line-height: 2.5rem;
        color: #222222;
        font-weight: 700;
    }
    .LeftWrap #wrap_head #btn1 a.active{
        color: #006940;
    }

    .LeftWrap #wrap_head #btn1 li ul li{
        line-height: 1.3rem;
        font-size: 1rem;
        font-weight: 400;
    }
    .LeftWrap #wrap_head #btn1 li ul li:nth-child(1){
        padding-top: 10px;
    }
    .LeftWrap #wrap_head #btn1 li ul li:last-child{
        padding-bottom: 10px;
    }
	.close1 {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 40px;
        font-weight: bold;
        background: #fff;
        color: #222222;
        border-radius: 15px;
        text-align: center;
        text-decoration: none;
        position: absolute;
        top: 51px;
        right: 32px;
    }
	.open1{
        display:none;
        width:30px;
        position:absolute;  
        top:57px; 
        right:30px; }
	.open1 span{
        display:block; 
        width:30px; 
        height:4px; 
        background:#222222; 
        margin-bottom: 5px;
    }
	.open1.scroll span{
        display:block; 
        width:30px; 
        height:4px; 
        background:#222222; 
        margin-bottom:5px;
    }
#popup_nav #btn1 .m_sub{
    display: none;
    }
	 #btn1{
        padding:50px;
    }  
   /* .active{color: red;} */



/*********************main_tit****************************/
#main_tit{
    padding-top: 159px;
    position: relative;
    z-index: -1;
    margin-left: 105px;
}
#main_tit::after{
    content: '';
    background-color: #006940;
    width: 645px;
    height: 131px;
    border-top-left-radius: 90px;
    position: absolute;
    bottom: -65px;
    left: 0;
    z-index: 2;
}
#main_tit img{
    display: block;
    margin-left: auto;
    width: 81%;
}
#main_tit h1{
    position: absolute;
    top: 50%;
    left: 105px;
}
#main_tit .tit_bread{
    align-items: left;
    position: absolute;
    bottom: -17px;
    left: 106px;
    z-index: 3;
}
#main_tit .tit_bread img{
    width: 37px;
    height: 37px;
}
#main_tit .tit_bread p{
    font-size: 1.3rem;
    color: #ffffff;
    padding-left: 15px;
    padding-top: 10px;
}
#main_tit .tit_bread p span{
    padding: 0 15px;
}


/*********************section1****************************/
#section1{
    padding-top: 165px;
}
#section1 .esg img{
    display: block;
    margin: 0 auto;
    width: 80%;
}
#section1 .esg .esg_txt{
    text-align: center;
    display: block;
}
#section1 .esg .esg_txt p{
    display: inline;
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    padding-right: 5%;
}
#section1 .esg .esg_txt p:nth-child(1){
    padding-left: 2%;
    padding-right: 11%;
}
#section1 .esg .esg_txt p:nth-child(2){
    padding-right: 15%;
}



/*********************section2****************************/
#section2 {
    padding-top: 182px;
}
#section2 .sec2_tit{
    text-align: center;
    line-height: 3.5rem;
}
#section2 .sec2_tit span{
    color: #5FC607;
}
#section2 .sec2_txt{
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.8rem;
    padding-top: 60px;
}
#section2 .sec2_txt span{
    color: #5FC607;
    font-weight: 700;
}


/*********************section3****************************/
#section3{
    padding-top: 170px;
}
#section3 .sec3_tit{
    text-align: center;
}
#section3 .circle_txt{
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 60px;
}
#section3 .circle_txt:nth-of-type(2){
    display: none;
}

/*********************section4****************************/
#section4{
    padding-top: 86px;
}
#section4 .sec4_tit{
    text-align: center;
}
#section4 .sec4_txt{
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-bottom: 60px;
}
#section4 table {
    width: 90%;
    border-top: 1px solid #c1c1c1;
    border-collapse: collapse;
    margin: 0 auto;
}
#section4 table th, #section4 table td {
    border-bottom: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
}
#section4 table th{
    padding: 10px 0;
}
#section4 table th b{
    display: inline;
    font-weight: 700;
}
#section4 table td{
    padding: 33px 0;
}
#section4 table th:first-child, #section4 table td:first-child {
    border-left: none;
}
#section4 .sec4_table table tr:nth-child(2){
    background-color: rgba(125,194, 66, 0.3);
}


/*********************section5****************************/
#section5{
    padding-top: 100px;
    padding-bottom: 100px;
}
#section5 .sec5_tit{
    text-align: center;
}
#section5 .sec5_txt{
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-top: 60px;
}
#section5 .sec5_txt span{
    color: #5FC607;
    font-weight: 700;
}
#section5 .sec5_chart{
    position: relative;
    padding-top: 60px;
}
#section5 .sec5_chart::before{
    content: ''; 
    display: block; 
    width: 1px; 
    height: 164px;
    background-color: #d9d9d9; 
    position: absolute; 
    top: 234px; 
    left: 50%;
}
#section5 .sec5_chart > p span{
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    width: 173px;
    height: 173px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    color: #000000;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
}

#section5 .sec5_chart > p::before{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #006940;
    border-radius: 50%;
    position: absolute;
    top: 230px;
    left: 49.9%;
    z-index: 3;
}
#section5 .sec5_chart .flex{
    justify-content: space-around;
}
#section5 .sec5_chart > div{
    padding-top: 164px;
    margin: 0 300px;
    position: relative;
}
#section5 .sec5_chart > div::before{
    content: ''; 
    display: block; 
    width: 66.7%; 
    height: 1px;
    background-color: #d9d9d9; 
    position: absolute; 
    top: 100px; 
    left: auto;
}
#section5 .sec5_chart .chart_cont .cont_tit{
    display: block;
    /* width: 280px;
    height: 50px; */
    background-color: #006940;
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 12px 0;
}

#section5 .sec5_chart div .chart_cont{
    position: relative;
}
#section5 .sec5_chart div .chart_cont::before{
    content: ''; 
    display: block; 
    width: 1px; 
    height: 63px;
    background-color: #eeeeee; 
    position: absolute; 
    top: -64px; 
    left: 50%;
}
#section5 .sec5_chart div .chart_cont:nth-child(2):before{
    display: none;
}
#section5 .sec5_chart div .chart_cont div{
    width: 280px;
    height: 200px;
    background-color: #eeeeee;
    border-radius: 15px;
    margin-top: 12px;
}
#section5 .sec5_chart div .chart_cont div p{
    margin-bottom: 7px;
    margin-left: 24px;
}
#section5 .sec5_chart div .chart_cont div p:nth-child(1){
    padding-top: 25px;
}
#section5 .sec5_chart div .chart_cont .cont_eng{
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 5;
}













/*********************footer****************************/

#footer{
    background-color: #f0f0f0;
    color: #000000;
}
#footer .foot_top {
    border-bottom: 1px solid #bababa;
}
#footer .inner .flex {
    justify-content: space-between;
}
#footer .inner .foot_top .flex{
    justify-content: space-between;
}
#footer .inner .foot_top > .flex{
    justify-content: space-between;
    width: 100%;
    margin-right: 90px;
}
#footer .foot_top .flex .foot_txt1 a{
    margin: 27px 47px;
}
#footer .foot_top .flex .foot_txt1 a:hover{
    color: #006940;
    font-weight: 700;
}
#footer .foot_top .flex .foot_txt1 a:first-child{
    margin-left: 0;
}
#footer .foot_top .foot_icon a span{
    background-color: #fff;
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#footer .foot_top .foot_icon a:hover span{
    background-color: #5FC607;
}
#footer .foot_top .foot_icon a span:last-child{
    margin-right: 0;
}
#footer .foot_top .foot_icon a img{
    width:30px;
}

#footer .foot_bottom .foot_txt2{
    padding-top: 40px;
    line-height: 1.3rem;
    padding-bottom: 50px;
}
#footer .foot_bottom .foot_txt2 p:last-child{
    padding-top: 18px;
}
#footer .foot_bottom .foot_txt3{
    padding-top: 40px;
    margin-right: 90px;
}
#footer .foot_bottom .foot_txt3 h4{
    font-size: 1.3rem;
    font-weight: 700;
    padding-right: 50px;
}
#footer .foot_bottom .foot_txt3 div a{
    font-size: 2.2rem;
    font-weight: 700;
    color: #006940;
}
#footer .foot_bottom .foot_txt3 div p b{
    display: inline-block;
    font-weight: 700;
    padding-right: 13px;
}
#footer .foot_bottom .foot_txt3 div p{
    line-height: 1.3rem;
}
#footer .foot_bottom .foot_txt3 div p:nth-of-type(1){
    padding-top: 15px;
}

/**********************quick_btn************************/
#quick_btn{
    position: fixed;
    right: 48px;
    bottom: 40px;
    /* z-index: 100; */
}
#quick_btn div button{
    display: block;
    padding-top: 10px;
}
#quick_btn .consulting .con_btn img{
    height: 43px;
}
#quick_btn .consulting .con_btn span{
    background-color: #5FC607;
    border-radius: 50%;
    display: block;
    width: 82px;
    height: 82px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
}
#quick_btn .namyangmall .mall_btn img{
    height: 29px;
}
#quick_btn .namyangi .i_btn img{
    height: 60px;
}
#quick_btn .namyangmall .mall_btn span, #quick_btn .namyangi .i_btn span{
    background-color: #fff;
    border-radius: 50%;
    display: block;
    width: 82px;
    height: 82px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
}
#quick_btn .top_btn{
    background-color: #222222;
    /* padding: 0 30px 8px 30px; */
    width: 82px;
    height: 31px;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 0px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
}
#quick_btn .top_btn::after{
    content: ''; 
    display: block; 
    width:10px; 
    height:10px;
    border-bottom:2px solid #a7a7a7; 
    border-right: 2px solid #a7a7a7; 
    margin: auto;
    transform: rotate(223deg) translate(5px, 5px);
    text-align: center;
}

/**클릭시**/
/* #quick_btn div, #quick_btn button{
    box-shadow: 4px 3px 4px rgba(0,0,0,0.25) ;
    border-radius: 50%;
} */
#quick_btn .consulting{
    position: relative;
}
#quick_btn .consulting .consulting_box{
    background-color: #f3f3f3;
    border-radius: 10px;
    /* padding: 30px; */
    position: absolute;
    bottom: -250px;
    right: 100px;
    /* display: none; */
    z-index: -1;
    height: 0;
    overflow: hidden;
    transition: 0.8s;
    padding: 0 30px;
    /* box-sizing: border-box; */
    /* opacity: 0; */
}
#quick_btn .consulting .consulting_box.active{
    /* display: block; */
    padding: 30px ;
    height: 480px;
    /* bottom: 100px; */
    /* opacity: 1; */
}


#quick_btn .consulting .consulting_box h4{
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5rem;
    padding-top: 20px;
}
#quick_btn .consulting .consulting_box h4 span{
    color: #006940; 
}
#quick_btn .consulting .consulting_box div div{
    padding-top: 10px;
}
#quick_btn .consulting .consulting_box div div label{
    font-size: 0;
}
#quick_btn .consulting .consulting_box div div:nth-child(2) label{
    position: absolute;
    bottom: 5px;
    left: 75px;
}
#quick_btn .consulting .consulting_box div div input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #989898;
    padding-bottom: 8px;
    text-align: center;
}
#quick_btn .consulting .consulting_box div textarea{
    width: 340px;
    height: 226px;
    margin: 25px 0 10px 0;
    border:none;
    background-color: #ffffff;
    border-radius: 10px;
}
#quick_btn .consulting .consulting_box div textarea::placeholder{
    text-align: center;
    padding-top: 30%;
}
#quick_btn .consulting .consulting_box button{
    background-color: #006940;
    padding: 5px 34px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 10px;
}
#quick_btn .consulting .consulting_box img{
    width: 12px;
    height: 12px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
#quick_btn .namyangi, #quick_btn .namyangmall{
    position: relative;
}
#quick_btn .namyangi a, #quick_btn .namyangmall a{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 50px;
    height: 82px;
    /* display: none; */
    width: 82px;
    transition: 0.8s;
    overflow: hidden;
    
}
#quick_btn .namyangi .i_on, #quick_btn .namyangmall .mall_on{
    width: 273px;
}

#quick_btn .namyangi.active a, #quick_btn .namyangmall.active a{
    /* display: block; */
    width: 273px;
}

@media all and (max-width:1566px){
    #section5 .sec5_chart > div {
        /*padding-top: 164px;*/
        margin: 0 168px;
        /*position: relative;*/
    }
}

@media all and (max-width:1479px){
    #section1 .esg .esg_txt p {
        /*display: inline;
        color: #000000;*/
        font-size: 1.5rem;
        /*font-weight: 700;
        padding-right: 5%;*/
    }
    #section5 .sec5_chart > div {
        /*padding-top: 164px;*/
        margin: 0 100px;
        /*position: relative;*/
    }
    #footer .foot_bottom .foot_txt3 h4 {
        font-size: 1.2rem;
        /* font-weight: 700;
        padding-right: 50px; */
    }

    #footer .foot_top .flex .foot_txt1 a {
        margin: 27px 20px;
        
    }
}

@media all and (max-width:1207px){
    #section5 .sec5_chart > div {
        /*padding-top: 164px;*/
        margin: 0 50px;
        /*position: relative;*/
    }
    #footer .foot_bottom.flex{
        display: grid;
        grid-template-areas: 
        'area2'
        'area1';
    }
    #footer .foot_bottom .foot_txt2 {
        /*padding-top: 40px;
        line-height: 1.3rem;
        padding-bottom: 50px;*/
        grid-area: area1;
    }
    #footer .foot_bottom .foot_txt3 {
        /*padding-top: 40px;
        margin-right: 90px;*/
        grid-area: area2;
    }
    #footer .foot_bottom .foot_txt3.flex{
        justify-content: start;
    }
}

@media all and (max-width:1062px){
    #sub_header #nav {display: none;}
    #sub_header .flex {
        justify-content: space-between;
        padding-right: 70px;
    }
    .open1{
        display:block;
        /* width:30px;
        position:absolute;  
        top:30px; 
        right:30px; */
     }
     #main_tit {
        padding-top: 159px;
        padding-bottom: 100px;
        position: relative;
        top: 159px;
        z-index: -1;
        overflow: hidden;
        margin-left: 0px;
    }
    #main_tit > img {
        display: none;
        /*margin-left: auto;
        width: 81%;*/
    }
    #main_tit h1 {
        position: absolute;
        top: 0;
        left: 40px;
    }
    #main_tit .tit_bread {
        align-items: left;
        position: absolute;
        bottom: 40px;
        left: 20px;
        z-index: 5;
    }
    #main_tit::after {
        content: '';
        background-color: #006940;
        width: 150%;
        height: 131px;
        border-top-left-radius: 90px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 2;
        transform: translateX(0px);
    }
    #main_tit .tit_bread {
        align-items: left;
        position: absolute;
        bottom: 40px;
        left: 50px;
        z-index: 5;
    }

    #section1 {
        padding-top: 250px;
    }
    #section1 .esg .esg_txt p {
        /*display: inline;
        color: #000000;*/
        font-size: 1.2rem;
        /*font-weight: 700;
        padding-right: 5%;*/
    }
    #section2 {
        padding-top: 100px;
    }
    #section3 {
        padding-top: 100px;
    }
    #section5 .sec5_chart > div {
        /*padding-top: 164px;*/
        margin: 0 10px;
        /*position: relative;*/
    }
    #section5 .sec5_chart div .chart_cont div {
        width: 250px;
        height: 176px;
        /*background-color: #eeeeee;
        border-radius: 15px;
        margin-top: 12px;*/
    }
    #footer .inner .foot_top > .flex {
        /*justify-content: space-between;
        width: 100%;*/
        margin-right: 0px;
    }
    #footer .inner .foot_top .foot_txt1.flex {
        display: grid;
        grid-template-areas: 
        'area1 area2'
        'area3 area4';
    }
    #footer .foot_top .flex .foot_txt1 a {
        margin: 27px auto;
    }
    #footer .foot_top .foot_txt1 a:nth-child(1){
        grid-area: area1;
    }
    #footer .foot_top .foot_txt1 a:nth-child(2){
        grid-area: area2;
    }
    #footer .foot_top .foot_txt1 a:nth-child(3){
        grid-area: area3;
    }
    #footer .foot_top .foot_txt1 a:nth-child(4){
        grid-area: area4;
    }
    #footer .foot_top .foot_icon{
        margin: auto 0;
    }
}

@media all and (max-width:890px){
    #section5 .sec5_chart > p span {
        background-color: #ffffff;
        border-radius: 50%;
        display: block;
        width: 150px;
        height: 150px;
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgb(0 0 0 / 25%);
        color: #000000;
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0 auto;
        position: relative;
    }
    #section5 .sec5_chart div .chart_cont div {
        width: 200px;
        height: 176px;
    }
}

@media all and (max-width:767px){
    #section3 .circle_txt:nth-of-type(1){
        display: none;
    }#section3 .circle_txt:nth-of-type(2){
        display: block;
    }
    #section4 table th b{
        display: none;
    }
    #section5{
        padding-bottom: 50px;
    }
    #section5 .sec5_chart > p {
        display : none;
    }
    #section5 .sec5_chart .flex {
        display: block;
    }    
    #section5 .sec5_chart > div::before {
        display: none;
    }
    #section5 .sec5_chart div .chart_cont {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }
    #section5 .sec5_chart div .chart_cont div {
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }
    #section5 .sec5_chart div .chart_cont::before {
        content: '';
        display: none;
        width: 1px;
        height: 63px;
        background-color: #eeeeee;
        position: absolute;
        top: -64px;
        left: 50%;
    }
    #section5 .sec5_chart::before {
        content: '';
        display: none;
        width: 1px;
        height: 164px;
        background-color: #d9d9d9;
        position: absolute;
        top: 234px;
        left: 50%;
    }
}

@media all and (max-width:666px){
    #section1 .esg .esg_txt p {
        font-size: 0.9rem;
    }
    #section1 .esg .esg_txt p:nth-child(1) {
        padding-left: 2%;
        padding-right: 4%;
    }
    
    #section1 .esg .esg_txt p:nth-child(2) {
        padding-right: 5%;
    }
    
}

@media all and (max-width:626px){
    .inner {
        max-width: 1920px;
        /* min-width: 1200px; */
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;
    }
    h1 {
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 5rem;
    }      
    h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 5rem;
    }
    #sub_header .flex {
        /* justify-content: space-around; */
        padding-right: 50px;
    }
    #sub_header .logo {
        padding-top: 46px;
    }
    #sub_header .logo a img {
        width: 72%;
        padding-left: 20px;
    }
    #sub_header .language {
        margin-right: 20px;
        width: 48px;
        padding-top: 55px;
    }
    #section2 .sec2_tit {
        text-align: center;
        line-height: 2.5rem;
    }
    #quick_btn {
        position: fixed;
        right: 10px;
        bottom: 18px;
        /* width: 100px; */
        /* z-index: 100; */
    }
    #quick_btn .consulting .con_btn img {
        height: 35px;
    }
    #quick_btn .consulting .con_btn span {
        background-color: #5FC607;
        border-radius: 50%;
        display: block;
        width: 60px;
        height: 60px;
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
    }
    #quick_btn .consulting .consulting_box {
        background-color: #f3f3f3;
        border-radius: 10px;
        /* padding: 30px; */
        position: absolute;
        bottom: -181px;
        right: -3px;
        /* display: none; */
        z-index: -1;
        height: 0;
        overflow: hidden;
        transition: 0.8s;
        padding: 0 30px;
        /* box-sizing: border-box; */
        /* opacity: 0; */
        z-index: 50;
    }
    #quick_btn .namyangmall .mall_btn span, #quick_btn .namyangi .i_btn span {
        background-color: #fff;
        border-radius: 50%;
        display: block;
        width: 60px;
        height: 60px;
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
    }
    #quick_btn .namyangmall .mall_btn img {
        height: 19px;
    }
    #quick_btn .namyangi .i_btn img {
        height: 47px;
    }
    #quick_btn .namyangi a, #quick_btn .namyangmall a {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        border-radius: 50px;
        height: 60px;
        /* display: none; */
        width: 60px;
        transition: 0.8s;
        overflow: hidden;
        /* background-color: black; */
    }
    #quick_btn .namyangi.active a, #quick_btn .namyangmall.active a {
        /* display: block; */
        width: 273px;
        /* transform: translateX(67px); */
        position: absolute;
        right: 0;
    }
    #quick_btn .namyangi .i_on, #quick_btn .namyangmall .mall_on {
        width: auto;
        height: 60px;
        /* border-top-right-radius: 50px; */
        /* border-bottom-right-radius: 50px; */
        transform: translateX(72px);
        border-radius: 50px;
    }
    #quick_btn .top_btn {
        background-color: #222222;
        /* padding: 0 30px 8px 30px; */
        width: 60px;
        height: 27px;
        border-radius: 50px;
        margin-top: 10px;
        font-size: 0px;
        box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
    }
    #quick_btn .top_btn::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #a7a7a7;
        border-right: 2px solid #a7a7a7;
        margin: auto;
        transform: rotate(223deg) translate(7px, 8px);
        text-align: center;
    }
}

@media all and (max-width:444px){

    #main_tit {
        padding-top: 159px;
        padding-bottom: 10px;
        position: relative;
        top: 131px;
        z-index: -1;
        overflow: hidden;
        margin-left: 0px;
    }
    #main_tit h1 {
        position: absolute;
        top: 0;
        left: 23px;
    }
    #main_tit::after {
        content: '';
        background-color: #006940;
        width: 150%;
        height: 74px;
        border-top-left-radius: 90px;
        position: absolute;
        bottom: 0;
        left: 6px;
        z-index: 2;
        transform: translateX(-6PX);
    }
    #main_tit .tit_bread {
        align-items: left;
        position: absolute;
        bottom: 20PX;
        left: 44px;
        z-index: 5;
    }
    #main_tit .tit_bread img {
        width: 25PX;
        height: 25PX;
    }
    #main_tit .tit_bread p {
        font-size: 1rem;
        color: #ffffff;
        padding-left: 0px;
        padding-top: 0PX;
    }
    #main_tit .tit_bread p span {
        padding: 0 10px;
    }
    #section1 {
        padding-top: 168px;
    }    
    #section1 .esg .esg_txt p {
        font-size: 0.7rem;
    }
    #section1 .esg .esg_txt p:nth-child(1) {
        padding-left: 2%;
        padding-right: 4%;
    }
    #section1 .esg .esg_txt p:nth-child(2) {
        padding-right: 5%;
    }
    #section2 {
        padding-top: 52px;
    }
    #section2 .sec2_tit {
        text-align: center;
        line-height: 2.5rem;
    }
    #section2 .sec2_txt {
        font-size: 1rem;
        text-align: center;
        line-height: 1.4rem;
        padding-top: 30px;
    }
    #section3 {
        padding-top: 30px;
    }
    #section3 .circle_txt {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding-top: 20px;
    }
    #section4 {
        padding-top: 20px;
    }
    #section4 table {
        width: 100%;
        border-top: 1px solid #c1c1c1;
        border-collapse: collapse;
        margin: 0 auto;
    }
    #section4 .sec4_txt {
        text-align: center;
        font-size: 1rem;
        line-height: 1.4rem;
        padding-bottom: 20px;
    }
    #section4 table th, #section4 table td {
        border-bottom: 1px solid #c1c1c1;
        border-left: 1px solid #c1c1c1;
        padding: 10px;
        text-align: center;
        font-size: 1rem;
    }
    #section5 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #section5 .sec5_tit {
        text-align: center;
        line-height: 2.5rem;
    }
    #section5 .sec5_txt {
        text-align: center;
        font-size: 1rem;
        line-height: 1.4rem;
        padding-top: 20px;
    }
    #section5 .sec5_chart > div{
        padding: 0;
    }
    #quick_btn .consulting .consulting_box div textarea {
        width: 240px;
        height: 207px;
        margin: 25px 0 10px 0;
        border: none;
        background-color: #ffffff;
        border-radius: 10px;
    }

}